.checkitem {
    float: right;
    width: 70px;
    height: 28px
}

.checkitem:after {
    border-color: #ddd
}

.checkitem.done:after {
    border-color: #a4df1a
}

h4 {
    background: #F7F7F7;
    font-weight: bold !important;
    margin: 0.5em 0 0 !important;
    padding: 5px;
    border: solid #DDD;
    border-width: 1px 0;
}

h3 {
    font-weight: bold !important;
    margin: 0.5em 0 0 !important;
}

.detailsViewField {
    background: #FFFFFF;
    font-size: 120%;
    text-indent: -60px;
    border-bottom: 1px solid #DDD;
    padding: 0.4em 0.4em 0.4em 100px;
}

.detailsViewField .label {
    display: inline-block;
    color: #666;
    font-size: 80%;
    text-align: right;
    text-transform: capitalize;
    width: 100px;
    padding-right: 1em;
}

.container {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    text-align: right;
    background: #F7F7F7;
}
